.card{
    min-width: 100%;
    margin: auto;
    border-radius: 0.5rem;
    background-color: rgb(235, 229, 158);
}

.card-body{
    align-content: center;
}

.card-title {
    margin-bottom: .5rem;
    text-align: center;
}

.card-subtitle {
    margin-top: -.25rem;
    margin-bottom: 0;
    text-align: center;
}

.card-link{
    /* text-align: right; */
    float: right;
    margin-left: 1rem;
}